# Port to run the proxy server on (default: 8081)
SIMPLE_PORT=8081

# URL of the llama-server to proxy requests to (default: http://localhost:8080)
SIMPLE_LLAMA_SERVER_URL=http://localhost:8080

# Admin API key, actually not for the APP, but for the just recipes
SIMPLE_ADMIN_API_KEY=sk-your-admin-key-here

# The hash of the Admin API key for managing users
SIMPLE_ADMIN_API_KEY_HASH=the-hash-of-tour-admin-key-here

# Path to the data directory where the database will be stored (default: ./data relative to executable)
SIMPLE_DATA_PATH=./data
